/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* Utilities */

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.w-20 {
    width: 20%;
}

.w-33 {
    width: calc(100% / 3);
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.bg-blue {
    background-color: #b4d0e7;
}

.main-menu li .btn-blue, .btn-blue a, .btn-blue{
    text-decoration: none;
    background-color: #0161ff;
    color: white;
    font-size: 14px;
    padding: 8px 15px;
}

.font-small {
    font-size: 13px;
}

.mt-30 {
    margin-top: 20px;
}

/* Header */

.topbar {
    height: 70px;
}

.main-menu ul {
    list-style: none;
    display: inline-block;
    line-height: 70px;
}

.main-menu ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.main-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#logo-dropbox {
    vertical-align: text-bottom;
    padding-left: 20px;
    padding-right: 20px;
}

.jumbotron {
    padding: 50px 50px 0 50px;
    height: 630px;
}

.jumbotron h1 {
    font-size: 70px;
    font-weight: 600;
}

#jumbo-img {
    width: 100%;
    margin-top: 50px;
}

.jumbo-text {
    padding-right: 50px;
    padding-top: 50px;
}

.jumbo-text p {
    font-weight: 600;
    padding-bottom: 30px;
}

.jumbo-text .font-small {
    padding-top: 15px;
}

.fa-arrow-down {
    font-size: 30px;
    padding-top: 30px;
}

/* Main */
/* Section 1 */

h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
}

main section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    vertical-align: text-top;
    margin: 0 4px;
}

.btn-radio-blue {
    border-color: #0161ff;
    border-width: 5px;
}

.btn-radio-grey {
    border-color: lightgrey;
    border-width: 1px;
    margin-left: 15px;
}

.billing div {
    display: inline-block;
}

.col-middle{
    padding-left: 20px;
    padding-right: 20px;
}

.col-left {
    padding-right: 40px;
}

.col-right{
    padding-left: 40px; 
}

.box-bottom {
    height: 950px;
    border: 1px solid lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.box-top { 
    width: 100%;
    height: 50px; 
    line-height: 50px;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: lightgrey;
    margin-top: 40px;
}

.font-grey {
    color: lightgrey;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 30px;
}

.plan {
    list-style: none;
    padding-left: 30px;
    text-indent: -0.7em;
}

.plan li {
    padding: 15px 0;
}

.plan+.btn-blue {
    margin-top: 20px;
    margin-bottom: 30px;
}

.font-small a {
    color: #0161ff;
}

hr {
    width: 50px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.fa-check {
    color: #0161ff;
}

.large-box .box-bottom{
    height: 180px;
}

/* Footer */
.bg-black {
    background-color: black;
}